@import url('https://fonts.googleapis.com/css?family=Space+Mono');
//GLOBAL

$paragraph-font: arial;
$primary-color: #333;
$header: black;

* {
	box-sizing: border-box;
}

h1 {
	color: $header;
	text-align: center;
	background-color: transparent;
}

h2 {
	text-align: center;
}

html {
	font-family: $paragraph-font;
	color: $primary-color;
}

@media screen and (max-width: 490px) {
	#developerTitle {
		float: left;
		color: red;
	}
}
