<!DOCTYPE html>
<html id="aboutHtml" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1">
    <title>About Chloe</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href={{"/public/assets/css/styles.css" | absolute_url}}>
</head>
<body>
<h1 id="aboutTest"> {{ page.title }} </h1>
<p class="content-test">{{page.test}}</p>

<!--unfortunately, content's p tag does not appear to be able to be associated with a class..-->
<!--research: is there a way to style the content p tag directly here?-->
<!--{{content}}-->

</body>
</html>